.td{

    height: 15%;


}
.br label{
 padding: 60%;
    margin: auto;
}
form2{
    padding: 15%;
    margin: 10%;

}
.label input {
    width: 45px;
    padding: 15px;

}
body{
    padding: 0;
    margin: 0;
}
.container{
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: solid 1px;
    padding: 20%;
    margin: 0 auto;
    color: #2a85a0;
}
.formulario{
    width: 300px;
    height: 200px;
    background-color: #c4e3f3;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    color: #2a85a0;
}
.formulario2{
    width: 300px;
    height: 300px;
    background-color: #132577;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    color:#d4d4d4;
}
.formulario input{
    width: 100px;
    height: 20px;
    background-color: #c4e3f3;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    padding: 2px;
}
#enviar{
    height: 40px;
    background-color: #132577;
    border: none;
    color: #d9edf7;
    text-shadow: 0 0 2px;
    font-weight: 100;
    font-size: 25px;
}
#alert{
    height: 30px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d3a5f;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #194092;
}
.containe{

    padding: 20px;
    margin-top: 30px;
    background-color: beige;
    height: 1000px;
}


.active {
    background-color: #497992;
}
p{
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;

}
.footer {
    margin: 10px ;
    height: 45px;
    font-family: "Baskerville Old Face";
    background-color: cornsilk;
}
.container2{
    padding: 10px;
    margin-right: auto;
    heigth:50px;
    border: #408140 2px;
}